$primary-color: #318470;
$primary-color-opacity: #318471bb;
$first-color: #ececec;
$second-color: rgb(255, 199, 0);
$third-color: #00BCB1;
$fourth-color: rgb(0, 171, 225);
$fifth-color: #774CBE;
$sixth-color:rgb(219, 81, 81);
$seventh-color:  #415ADE;
$eighth-color: #44AA4E;
$price-bg: #5870ED;
$bg-color: #fff;
$text-color: #000000;
$text-color-white: #fff;
$dark-color: #1A1A1A;
$gray-color: #F5F6F6;

$form-color: #fff;
$transparency: #ffffff00;




// USAGE
body {
    font-family: 'Open Sans', sans-serif;
}

$font-primary: 'Plus Jakarta Sans';
$font-secondary: 'Lilita One';



$t-time: 300ms;
$t-ease: ease-in-out;
