.navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	@include bg-color($first-color);
	@include flex;
	text-align: center;
	z-index: 999;
	transform: translateY(-100%);
	transition: transform .5s cubic-bezier(0.41, 0.38, 0.59, 1.04);

	.container {
		@include flex;
	}

	li {
		margin: 0.5rem 0;
	}

	a {
		display: inline-block;
		padding: .5rem;
		color: $text-color-white;
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: capitalize;

		&.active {
			padding: 1rem 1.5rem;
			background-color: $text-color-white;
			color: $primary-color;
			border-radius: 50rem;
			line-height: 1;
		}
	}


	&.open {
		transform: translateY(0);
	}
}