.price {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    min-height: 275px;
    padding: 2rem;
    background-color: $price-bg;
    color: $text-color-white;
    box-shadow: 0 3px 15px rgba(0,0,0, .15);
    border-radius: 5px;
    @include flex(flex-start, space-between);
    flex-direction: column;

    @include mq(1250px) {
        width: 90%;
        flex: 1;
        min-height: 300px;
    }

    ul {
        width: 100%;
        @include flex(space-between, space-between);
        flex-direction: column;
    }

    h4 {
        width: 100%;
        text-transform: capitalize;
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        margin-bottom: 1rem;

        @include mq(1200px) {
            font-size: 2.5rem;
        }
    }


    li {
        width: 100%;
        @include flex(center, space-between);
        font-size: 1.4rem;

        @include mq(1200px) {
            font-size: 1.8rem;
        }

        strong {
            font-size: 1em;
        }

        &:not(:last-child) {
            margin-bottom: .5rem;
        }
    }


    &__text {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
}

.prices__swiper .prices__wrapper {
    @include flex(stretch, space-between);


    .swiper-slide {
        // width: 30%;
        flex: 1;
    }
}