.section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .container {
    height: 100vh;
  }

  &__wrapper {
    height: 100%;
    @include flex;
    flex-direction: column;
    // padding-top: 10vh;

    @include mq(768px) {
      padding-top: 0;
      padding-left: 5rem;
      align-items: flex-start;
    }
    @include mq(900px) {
      padding-top: 0;
      flex-direction: row;
      align-items: center;

      &.img-left {
        flex-direction: row-reverse;

        // .section__image img {
        // 	top: 0;
        // 	right: auto;
        // 	left: 0;
        // 	bottom: 0;
        // }
      }
    }
    @include mq(1200px) {
      padding-left: 0;
    }

    .left,
    .right {
      width: 100%;
      @include mq(900px) {
        width: 50%;
      }
    }

    .left--large {
      @include mq(900px) {
        width: 70%;
      }

      & + .right {
        width: 30%;
      }
    }
  }

  &__layer {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    @include flex;

    @include mq-max(768px) {
      svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    @include mq(900px) {
      left: 10%;
    }

    .layer {
      position: absolute;
      width: auto;
      height: 90%;
      flex: 0 0 auto;
      z-index: 0;
    }
  }
}

.index {
  .text {
    @include mq(768px){
      padding-top: 8rem;
    }
    padding-top: 1rem;
  }
  .logo {
    position: relative;
  }
  .machine1 {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    transform: translate(0);
    width: 60%;
  }
  .btn--anis {
    @include mq(768px) {
      @include bg-color($primary-color);
    border: none;
    font-size: 1.5rem;
    font-weight: normal;
    color: white;
    }
    @include bg-color($transparency);
    border: solid $primary-color 2px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 60, 138);
  }
}

.microscope {

  .logo {
    position: relative;
  }
  
  .section__image img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    bottom: 0;
  }

  .text {
    padding-top: 8.8em;
    width: 100%;
    p {
      width: 45%;
    }
  }

  .line {
    width: 10rem;
    height: 25rem;
    border-right: solid #b4b4b4 2px;
  }
}

.ortodontie {
  .text_head {
    text-align: end;
  }
  .text_primary {
    text-align: end;
  }
  .gallery {
    padding-top: 7rem;
  }

  .text {
    padding-top: 25rem;
  }

  .search-box {
    scale: 0.75;
    position: relative;
    width: 20rem;

    .search-input {
      height: 3.8rem;
      font-size: 18px;
      font-weight: 100;
      border-radius: 0;
    }

    .fa-search {
      position: absolute;
      top: 1.3rem;
      left: 1.5rem;
    }

    .fa-close {
      cursor: pointer;
      position: absolute;
      top: 1.3rem;
      right: 1rem;
    }
  }

  .gallery-box {
    background-color: rgb(245, 246, 250);
    border-radius: 10px;
    overflow: scroll;
    height: 83vh;
  }

  .gallery {
    flex-wrap: wrap;
    padding: 0 4px;

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  }

  .detail-box {
    padding: 3rem 20rem 2rem 3rem;
    position: absolute;
    right: -2rem;
    top: 56vh;
    color: white;
    @include bg-color($primary-color-opacity);
  }
}

.implantologie {
  .main-box {
    width: auto;
    height: 100vh;
    padding-top: 23rem;
  }

  .text {
    position: relative;
  }

  .implant {
    width: auto;
    height: auto;
    position: absolute;
    top: 2rem;
  }
}

.protetica {
  .bottom-img {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 0;
  }

  .text {
    z-index: 1;
  }

  .align-items-center {
    height: 70vh;
  }
}

.team {
  .text_head {
    text-align: center;
  }
  .logo {
    position: relative;
    width: auto;
    height: auto;
  }

  .member-box {
    scale: 0.8;
    .bg-white {
      border: 0.5px solid #e2e2e2;
    }

    .btn--anis {
      width: 30rem;
    }
  }
}

.contact {
  .text {
    padding-top: 10rem;
  }

  .text_head {
    font-size: 5rem;
    text-align: center;
  }

  .text_primary {
    text-align: center;
  }

  .map {
    width: 100%;
    height: 58vh;
  }

  form {
    width: 100%;
    height: 58vh;
    border: 1px solid #318470;
    justify-content: center;
    align-items: center;

    .input-box {
      display: flex;
      justify-content: flex-end;
      width: 80%;
      padding-top: 1.5rem;
    }

    input {
      width: 80%;
      border: none;
      border-bottom: solid #bdbdbd 0.5px;
      background: transparent;
      &:focus {
        border: none;
        outline: none;
        border-bottom: solid #000000 0.5px;
      }
    }

    .textarea-box {
      padding-top: 1.5rem;
      width: 80%;
      height: auto;
      display: flex;
      justify-content: flex-end;
    }

    textarea {
      width: 80%;
      height: 25rem;
      padding: 12px 20px;
      // box-sizing: border-box;
      border: solid #bdbdbd 0.5px;
      border-radius: 4px;
      background-color: transparent;
      font-size: 16px;
      resize: none;

      &:focus {
        outline: none;
        border: solid #000000 0.5px;
      }
    }

    .submit-btn {
      font-weight: normal;
      padding: 0.8rem 6rem;
    }
  }
}
