.section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .container {
    height: 100vh;
  }

  &__wrapper {
    height: 100%;
    @include flex;
    flex-direction: column;
    // padding-top: 10vh;

    @include mq(768px) {
      padding-top: 0;
      padding-left: 5rem;
      align-items: flex-start;
    }
    @include mq(900px) {
      padding-top: 0;
      flex-direction: row;
      align-items: center;

      &.img-left {
        flex-direction: row-reverse;

        // .section__image img {
        // 	top: 0;
        // 	right: auto;
        // 	left: 0;
        // 	bottom: 0;
        // }
      }
    }
    @include mq(1200px) {
      padding-left: 0;
    }

    .left,
    .right {
      width: 100%;
      @include mq(900px) {
        width: 50%;
      }
    }

    .left--large {
      @include mq(900px) {
        width: 70%;
      }

      & + .right {
        width: 30%;
      }
    }
  }

  &__layer {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    @include flex;

    @include mq-max(768px) {
      svg {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
      }
    }

    @include mq(900px) {
      left: 10%;
    }

    .layer {
      position: absolute;
      width: auto;
      height: 90%;
      flex: 0 0 auto;
      z-index: 0;
    }
  }

  .text_subhead {
    @include mq(960px) {
      text-align: start;
      font-size: 3rem;
    }
    @include mq-max(768px) {
      font-size: 1.8rem;
      padding-top: 1.5rem;
    }
  }

  .text_head {
    @include mq(768px) {
      font-size: 4rem;
      font-weight: bold;
      line-height: normal;
      text-align: start;
    }
    @include mq(1400px) {
      font-size: 6rem;
      line-height: normal;
      text-align: start;
    }
    @include mq-max(768px) {
      font-size: 2.5rem;
      line-height: normal;
      text-align: center;
    }
  }
}

.index {
  .text_head {
    @include mq(768px) {
      font-size: 4rem;
      font-weight: bold;
      line-height: normal;
      text-align: start;
    }
    @include mq(1200px) {
      font-size: 6rem;
      line-height: normal;
      text-align: start;
    }
    @include mq-max(768px) {
      font-size: 2.5rem;
      line-height: normal;
      text-align: center;
    }
  }
  .text {
    @include mq(768px) {
      padding-top: 8rem;
    }
    padding-top: 0rem;
  }
  .logo {
    cursor: pointer;
    position: relative;
  }
  .machine1 {
    position: absolute;
    left: auto;
    right: 0;
    top: 0;
    transform: translate(0);
    width: 60%;
  }

  .card {
    p {
      @include mq(526px) {
        font-size: 13px;
        text-align: start;
      }
      font-size: 11px;
      text-align: center;
    }
  }

  .btn--anis {
    @include mq(768px) {
      @include bg-color($primary-color);
      border: none;
      font-size: 1.5rem;
      font-weight: normal;
      color: white;
    }
    @include mq-max(768px) {
      @include bg-color($primary-color);
      border: none;
      font-size: 1rem;
      font-weight: normal;
      color: rgb(255, 255, 255);
      padding: 0.5rem;
      top: 0.5rem;
      right: 2.5rem;
      bottom: auto;
    }
  }
}

.microscope {
  .logo {
    cursor: pointer;
    position: relative;
  }

  .section__image img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    min-width: 20rem;
    bottom: 0;
  }

  .text {
    padding-top: 8%;
    width: 100%;
    // .text_head {
    //   @include mq(1200px){
    //     font-size: 3rem;
    //   }
    //   font-size: 1rem;
    // }
    p {
      @include mq(992px) {
        width: 45%;
        font-size: 1.5rem;
      }
      font-size: 1.5rem;
      width: 100%;
    }
  }

  

  .line {
    width: 10rem;
    height: 25rem;
    border-right: solid #b4b4b4 2px;
  }
}

.ortodontie {
  .text_head {
    @include mq(768px) {
      font-size: 4rem;
      font-weight: bold;
      line-height: normal;
      text-align: start;
    }
    @include mq(1400px) {
      font-size: 6rem;
      line-height: normal;
      text-align: start;
    }
    @include mq-max(768px) {
      font-size: 2.5rem;
      line-height: normal;
      text-align: center;
    }
  }
  .text_subhead{
    @include mq(1400px) {
      text-align: end;
    }
    text-align: center;
  }

  .text_primary {
    text-align: end;
    font-size: 14px;
  }
  .gallery {
    padding-top: 7rem;
  }

  .text {
    @include mq(1400px) {
      padding-top: 25rem;
    }
    padding: auto;
  }

  .search-box {
    scale: 0.75;
    position: relative;
    width: 20rem;

    .search-input {
      height: 3.8rem;
      font-size: 18px;
      font-weight: 100;
      border-radius: 0;
    }

    .fa-search {
      position: absolute;
      top: 1.3rem;
      left: 1.5rem;
    }

    .fa-close {
      cursor: pointer;
      position: absolute;
      top: 1.3rem;
      right: 1rem;
    }
  }

  .gallery-box {
    @include mq(768px) {
      background-color: rgb(245, 246, 250);
      border-radius: 10px;
      overflow: scroll;
      height: 40vh;
    }
    @include mq(1400px) {
      background-color: rgb(245, 246, 250);
      border-radius: 10px;
      overflow: scroll;
      height: 83vh;
    }
    background-color: rgb(245, 246, 250);
    border-radius: 10px;
    overflow: scroll;
    height: 30vh;
    width: auto;
  }

  .gallery {
    flex-wrap: wrap;
    padding: 0 4px;

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  }

  .detail-box {
    @include mq(768px) {
      margin: 0 4rem;
      position: relative;
      color: white;
      @include bg-color($primary-color-opacity);
      padding: 1.5rem;
      font-size: 2rem;
      line-height: 3.5rem;
    }
    @include mq(1400px) {
      font-size: 2.1rem;
      line-height: 3.5rem;
      padding: 3rem 20rem 2rem 3rem;
      position: absolute;
      right: -2rem;
      top: 56vh;
      color: white;
      margin: 0;
      @include bg-color($primary-color-opacity);
    }
    @include mq-max(768px) {
      margin: 0;
      position: relative;
      color: white;
      @include bg-color($primary-color-opacity);
      padding: 1.5rem;
      font-size: 1.4rem;
      line-height: 2.5rem;
    }
  }

  .container {
    height: auto;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
}

.implantologie {
  .main-box {
    @include mq(1400px) {
      width: auto;
      height: 100vh;
      padding-top: 23rem;
    }
    width: auto;
    height: 100vh;
    padding-top: 9rem;
  }

  .text {
    position: relative;
  }

  .implant {
    @include mq(1400px) {
      width: 33%;
      min-width: 10rem;
      height: auto;
      position: absolute;
      top: 2rem;
    }
    width: 33%;
    min-width: 20rem;
    height: auto;
    top: 2rem;
  }
}

.protetica {
  .main-box {
    @include mq(1400px) {
      padding-top: 0rem;
    }
    padding-top: 10rem;
  }
  .bottom-img {
    position: absolute;
    width: 100vw;
    bottom: 0;
    z-index: 0;
  }

  .text {
    z-index: 1;
  }

  .align-items-center {
    height: 70vh;
  }

  .dental_implant {
    @include mq(1400px) {
      width: 75%;
    }
    width: 37.5%;
    min-width: 30rem;
  }
}

.team {
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .text_head {
    @include mq(960px) {
      text-align: center;
      font-size: 5rem;
    }
    text-align: center;
    font-size: 3rem;
  }
  .text_subhead{
    text-align: center;
  }

  .logo {
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
  }

  .avatar {
    width: 75%;
    height: auto;
  }

  .btn--anis {
    width: 100%;
  }

  @include mq(960px) {
    .member-box {
      width: 100%;
      height: auto;
      padding: 0 5px;
    }
    .btn--anis {
      width: 100%;
    }
    .avatar {
      width: 60%;
      height: auto;
    }
    .text_primary {
      font-size: 2.3rem;
      font-weight: bold;
    }
  }

  @include mq-max(960px) {
    .member-box {
      width: 100%;
      .text_primary {
        font-size: 1.8rem;
        font-weight: bold;
      }
      padding: 0 5px;
      .avatar {
        width: 55%;
        height: auto;
      }

      // border: #000000 solid;
      width: 100%;
      height: auto;

      .bg-white {
        border: 0.5px solid #e2e2e2;
        width: 100%;
      }

      .btn--anis {
        width: 100%;
      }
    }
  }
}

.contact {
  .text {
    padding-top: 10rem;
  }

  .text_head {
    @include mq(768px) {
      font-size: 5rem;
      text-align: center;
    }
    font-size: 2.5rem;
    text-align: center;
  }

  .text_primary {
    @include mq(768px) {
      font-size: 1.6rem;
      text-align: center;
    }
    text-align: center;
    font-size: 1.2rem;
  }

  .map {
    @include mq(768px) {
      width: 100%;
      height: 40vw;
    }
    @include mq(1200px) {
      width: 100%;
      height: 58vh;
    }

    @include mq-max(1100px) {
      width: 100%;
      min-width: 35rem;
      height: 32rem;
    }
  }

  form {
    @include mq(768px) {
      width: 100%;
      height: 40vw;
    }
    @include mq(1200px) {
      width: 100%;
      height: 58vh;
    }
    @include mq-max(768px) {
      width: 60%;
      min-width: 33rem;
      height: 32rem;
    }
  }
  form {
    // width: 100%;
    // height: 58vh;
    border: 1px solid #318470;
    justify-content: center;
    align-items: center;

    .input-box {
      @include mq(1300px) {
        display: flex;
        justify-content: flex-end;
        width: 58rem;
        padding-top: 1.5rem;
      }
      @include mq(1050px) {
        display: flex;
        justify-content: flex-end;
        width: 50rem;
        padding-top: 1.5rem;
      }
      @include mq-max(1050px) {
        display: flex;
        justify-content: flex-end;
        width: 32rem;
        padding-top: 1.5rem;
      }
    }

    input {
      @include mq(1050px) {
        width: 76%;
        border: none;
        border-bottom: solid #bdbdbd 0.5px;
        background: transparent;
        &:focus {
          border: none;
          outline: none;
          border-bottom: solid #000000 0.5px;
        }
      }
      width: 22rem;
      border: none;
      border-bottom: solid #bdbdbd 0.5px;
      background: transparent;
      &:focus {
        border: none;
        outline: none;
        border-bottom: solid #000000 0.5px;
      }
    }

    .textarea-box {
      @include mq(1300px) {
        padding-top: 1.5rem;
        width: 58rem;
        height: auto;
        display: flex;
        justify-content: flex-end;
      }
      @include mq(1050px) {
        padding-top: 1.5rem;
        width: 50rem;
        height: auto;
        display: flex;
        justify-content: flex-end;
      }
      @include mq-max(1050px) {
        padding-top: 1.5rem;
        width: 30rem;
        height: auto;
        display: flex;
        justify-content: flex-end;
      }
    }

    textarea {
      @include mq(1050px) {
        width: 76%;
        height: 23rem;
        padding: 12px 20px;
        // box-sizing: border-box;
        border: solid #bdbdbd 0.5px;
        border-radius: 4px;
        background-color: transparent;
        font-size: 16px;
        resize: none;

        &:focus {
          outline: none;
          border: solid #000000 0.5px;
        }
      }
      width: 22rem;
      height: 12rem;
      padding: 12px 20px;
      // box-sizing: border-box;
      border: solid #bdbdbd 0.5px;
      border-radius: 4px;
      background-color: transparent;
      font-size: 16px;
      resize: none;

      &:focus {
        outline: none;
        border: solid #000000 0.5px;
      }
    }

    .submit-btn {
      font-weight: normal;
      padding: 0.8rem 6rem;
    }

    .swiper-wrapper{
      position: relative;
    }

  }
}
